# https://projectlombok.org/features/configuration
# https://github.com/folio-org/mod-kb-ebsco-java/blob/master/lombok.config
# https://groups.google.com/forum/#!topic/project-lombok/G0e-szr2sCk
#################
#config.stopBubbling=true
#
#lombok.log.slf4j.flagUsage=warning
#
#lombok.noArgsConstructor.flagUsage=error
#
#meow=7777
#
##clear lombok.accessors.fluent
#lombok.accessors.fluent=true
#
#
#lombok.anyConstructor.flagUsage=error
#
## We use slf4j.
#lombok.log.apacheCommons.flagUsage=error
#lombok.log.log4j.flagUsage=error
#lombok.log.log4j2.flagUsage=error
#lombok.log.xslf4j.flagUsage=error
#
## Do not use following silly annotations.
#lombok.sneakyThrows.flagUsage=warning
#lombok.val.flagUsage=warning